{{!-- this if is a helpre to evulate if the variable expresion exists --}}
{{#if image}}
<img class="hero img-fluid" src="/images/{{image}}" alt="">
{{/if}}

<h1 class="primary-heading">{{title}}</h1>
<p class="abstract">{{abstract}}</p>