<div id="item-4" style="border: 20px solid purple; padding: 20px; border-radius: 35px;">
    <h3>SECODN EXTRA CRED slideshow </h3>

<div class="row gallery">
{{!-- i had to do this becuase the jquery wasnt initalizaing or something --}}
    {{#each gallery.images}}
    {{/each}}
</div>

{{!-- reference --}}
<div class="row owl-theme owl-carousel owl-packages">
    {{#each data.packages }}
    <div class="card">
        <img src="{{this.image}}" class="card-img-top" alt="...">
    
    </div>
    {{/each}}
</div>


</div>
