<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>


    {{!-- import css style --}}
    <link rel="stylesheet" href="/css/bootstrap.css">

    {{!-- override css goes last --}}
    <link rel="stylesheet" href="/css/miami.css">


</head>
<body>

{{!-- navigation start --}}
{{!-- navigation end --}}





    {{!-- inlcude a partial --}}
    {{>nav siteName="Miami Travel Site"}}


    {{!-- default placeholder for handlebars --}}
    <div class="container">
        {{{body}}}

        {{>gallery}}
    </div>



    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>